.photo img {
  width: 80px;
  max-width: none;
  margin-top: -5px;
  margin-left: -10px;
}

.id-column-cls .fancy-grid-cell-inner {
  margin-top: 30px;
  margin-left: 14px;
  font-size: 14px;
}

.id-column-cls .fancy-grid-cell {
  border-right: 1px solid rgb(211, 219, 225) !important;
  background-color: rgb(240, 242, 244);
}