.myGridMap .fancy-grid-cell {
  border-color: transparent;
  margin: 0px 1px 1px 0px;
}

.fancy-theme-myGridMap .fancy-grid-cell.data {
  cursor: pointer;
}

.fancy-theme-myGridMap .data .fancy-grid-cell-inner {
  cursor: pointer;
}

.myGridMap .fancy-grid-cell-inner {
  margin-top: 17px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #D7EDF6;
}

.fancy-theme-myGridMap .fancy-grid-body .fancy-grid-column .fancy-grid-cell-selected {
  background: none;
}