.action-column-remove {
  cursor: pointer;
  padding: 5px !important;
  position: relative;
  top: -5px;
  border-radius: 2px;
  background-color: #E4827D;
  color: #FFF;
}

.action-column-remove:hover {
  background-color: #F9DDE0;
}